@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-green: #22ad01;
  --clr-gray: #4c4d5f;
  --clr-white: #fff;
  --clr-yellow: #f8db62;
}

body {
  font-family: "Montserrat", sans-serif;
}
